html {
    margin: 0;
    padding: 0;
}

body {
    font-family: Optima, sans-serif;
    font-size: 100%;
    color: #404040;
    min-height: 100%;
    /*background: linear-gradient(to bottom, #f2f2f2, #b3b3b3) fixed;*/
    /*padding: 10px;*/
    margin: 0;
    text-align: center;
    position: relative;
}

#particles-js {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: -10;
}

.frame {
    width: 15%;
    background: #eee;
    margin: auto;
    border-color: #666;
    border-image: none;
    border-radius: 100%;
    border-style: solid;
    /*border-width: 8px;*/
    overflow: hidden;
    padding: 3%;
    min-width: 200px;
}

.profile_img {
    width: 100%;
}

.about {
    position: relative;
   margin: auto;
    font-size: 100%;
    width: 800px;
    min-width: 700px;
}

.hey {
    font-size: 400%;
}

.name {
    font-size: 200%;
}

.description {
    margin-top: 3%;
    font-size: 150%;
}

.social {
    display: flex;
    width: 25%;
    min-width: 300px;
    margin: 0 auto;
}

.social_icon {
    width: 2%;
    height: auto;
    border: 0;
    min-width: 30px;
    margin: 0;
}

